.hidden {
    display: none;
}

#editing_bay {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#log_section {
    position: fixed;
    bottom: 1em;
    width: 100%;
    height: 30%;
}

#log {
    border: solid 1px;
    height: 20vh;
    overflow-y: scroll;
    width: 30%;
}

.mod-text {
    font-size: small;
    font-style: italic;
    color: gray;
}