body > header {
    color: blue;
    text-align: center;
}

body > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: turquoise;
}