

.radio-button-item {
    display: block;
}

.li-item {
    cursor: pointer;
}

#editor {
    float: left;
    margin-left: 20vw;
}

#editor > form {
    margin-bottom: 1.5em;
}

form input[type="submit"] {
    margin-top: 0.5em;
}

#preview {
    float: right;
    margin-right: 25vw;
}


#preview h2 {
    margin-bottom: 0;
}

#lioutput {
    display: inline-block;
    border: solid 2px black;
    padding: 2em;
    padding-right: 30em;
}

@media print {
    .no-print {
        display: none;
    }

    #preview {
        float: none;
    }

    #lioutput {
        border: none;
        padding: 0;
        font-size: 1.50em;
    }
    
    #lioutput h3 {
        font-size: 1.75em;
    }

}
